.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('../img/back-cad.jpg');
    background-repeat:repeat;
    overflow:auto;
}

.cadastro{
    border: 2px solid black;
    width: 489px;
    height:100%;
    border-radius: 9px 9px 9px 9px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    display: inline-block;

}

.cadastro h2{
    text-align: center;
}

.icon-cad label{
    margin-right: 11px;
}

.icon-cad input{
    margin-left: 9px;
}

.back-home-cad{
    text-align: center;
    margin-top: 17px;
    color: white;
    position: relative;
    top: 20px;
}

.error{
    color: red;
    border: 1px solid red;
}
#name-error,#email-error,#phone-error,#cpf-error,#password-error,#confirm-password-error{
    color: red;
    border: none;
}