#index{
    background-image: url("../img/background-black-and-white-4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: -webkit-fill-available;
}

.index{

    width: 727px;
    height: 558px;

    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
    display: inline-block;
}


.title-index{
    text-align: center;
    letter-spacing: 5px;
    position: relative;
    top: 52px;
}
.title-index h1{
    font-family: 'Dancing Script', cursive;
}

.sub-title{
    text-align: center;
}

.visit{
    position: relative;
    top: 85px;
}

.visit p {
    font-size: 28px;
}

.visit span{
    color: darkviolet;
}